.ant-modal {
  .ant-modal-title {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.modal-custom {
  .ant-btn {
    padding: 0.5rem 1.6rem;
    color: #555;
    box-shadow: none;
    &:focus-visible {
      outline: none !important;
      color: #555 !important;
    }
    &:active {
      background-color: white !important;
    }
    &.ant-btn-text,
    &.ant-btn-default {
      border: 0.1rem solid #ccc;
      background-color: white;
      color: #555;
      &:hover,
      &:focus,
      &:active {
        background-color: #fd9900 !important;
        border-color: #fd9900 !important;
        color: white !important;
        p {
          color: white;
        }
      }
    }

    &.ant-btn-primary {
      border: 0.1rem solid #fd9900;
      background-color: #fd9900;
      color: white;
      &:hover,
      &:focus,
      &:active {
        background-color: #fd9900 !important;
        border-color: #fd9900 !important;
      }
    }

    p {
      font-size: 1.6rem;
    }
  }
}
